<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Spotify Button</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="center-container">

    <img src="../assets/spotify-3d-logo.png" alt="Spotify Logo" class="spotify-logo"/>
    <h3>Enlaza tu perfil para que otros te conozcan mejor</h3>
    <ion-button (click)="onAuthClick()" class="ion-margin-top" expand="block" mode="ios" fill="outline">
      Link with Spotify
      <ion-icon slot="end" name="musical-notes-outline"></ion-icon>
    </ion-button> 
    
    <p class="ion-margin-top centered-text">
      <a routerLink="/tabs/tab1" class="sign-up-link">Skip for now </a>
    </p>

  </div>
</ion-content>
