.centered-text {
    text-align: center; /* Centers the entire text */
}
  
.sign-up-link {
    // color: #171158; 
    font-weight: bold; 
    text-decoration: none; /* Remove underline */
}

.sign-up-link:hover {
    text-decoration: underline;
}
  
body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: whitesmoke;
    color: var(--ion-text-color);
}

ion-content {
    --background: whitesmoke; 
}