<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chat</ion-title>

    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/settings"> 
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="users as user$">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="ion-margin-top" [style.background]="'transparent'" lines="none">
    <app-user-list 
      *ngFor="let item of user$"
      [item]="item"
      onClick="startChat($event)"
    ></app-user-list>
  </ion-list>
</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list 
    lines="none" 
    *ngIf="(chats) as chat$">
    <ion-item-group class="chats-group" *ngFor="let chat of chat$">
      <app-chat-box [chat]="chat" [current_user_id]="currentUserId"></app-chat-box>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-textarea 
      autoGrow 
      rows="1" 
      placeholder="Send message" 
      class="ion-text-center" 
      [(ngModel)]="message">
    </ion-textarea>
    <ion-buttons slot="end">
      <ion-fab-button *ngIf="!isLoading" size="small" color="primary" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="isLoading" size="small" color="primary">
        <ion-spinner name="crescent" color="white"></ion-spinner>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>