<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Login with email -->

  <!-- Login with Spotify -->
  <ion-content class="ion-padding center-content">
    <ion-button (click)="onAuthClick()">Log in with Spotify</ion-button> 
    <!-- requestAuthorization() -->
  </ion-content>

</ion-content>