<!-- <app-header backButton="/auth" title="Sign Up"></app-header> -->
<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Sign Up</ion-title>
  
      <!-- <ion-buttons slot="start">
        <ion-back-button defaultHref="/auth"></ion-back-button>
      </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="d-flex-center">
        <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
            <app-logo></app-logo>

            <!-- Name -->
            <app-custom-input 
                autocomplete="name"
                icon="person-outline"
                [control]="form.controls.name"
                type="text"
                label="Name">
            </app-custom-input>

            <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
                <div *ngIf="form.controls.name.errors?.['required']">The name is required.</div>
                <div *ngIf="form.controls.name.errors?.['minlength']">The name must be 3 or more characters long.</div>
            </div>

            <!-- Age -->
            <app-custom-input 
                autocomplete="age"
                icon="calendar-outline"
                [control]="form.controls.age"
                type="number"
                label="Age">
            </app-custom-input>

            <div class="validators" *ngIf="form.controls.age.errors && form.controls.age.touched">
                <div *ngIf="form.controls.age.errors?.['required']">The age is required.</div>
                <div *ngIf="form.controls.age.errors?.['min']">The age must be 18 or older.</div>
            </div>  

            <!-- Country -->
            <ion-item lines="none">
                <ion-icon slot="start" name="planet-outline"></ion-icon>
                <ion-select formControlName="country" placeholder="Country">
                    <ion-select-option *ngFor="let country of countries" [value]="country">
                    {{ country }}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <!-- Email -->
            <app-custom-input 
                autocomplete="email"
                icon="mail-outline"
                [control]="form.controls.email"
                type="email"
                label="Email">
            </app-custom-input>

            <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
                <div *ngIf="form.controls.email.errors?.['required']">The email is required.</div>
                <div *ngIf="form.controls.email.errors?.['email']">Type a valid email.</div>
            </div>
        
            <!-- Password -->
            <app-custom-input 
                [control]="form.controls.password"
                icon="lock-closed-outline"
                type="password"
                label="Password">
            </app-custom-input>

            <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
                <div *ngIf="form.controls.password.errors?.['required']">The password is required.</div>
            </div>

            <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
              Sign Up
              <ion-icon slot="end" name="person-add-outline"></ion-icon>
          </ion-button>
          
          <p class="ion-margin-top centered-text">
            Already a member? 
            <a routerLink="/auth" class="sign-up-link">Sign In</a>
          </p>
        </form>    
    </div>
</ion-content>
