<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Events</ion-title>

    <!-- Settings -->
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/settings"> 
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Chat -->
    <ion-buttons slot="end">
      <ion-button routerLink="/chat">
        <!-- /tabs/chat -->
        <!-- chat -->
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Events</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-searchbar 
    placeholder="Search Event" 
    [(ngModel)]="searchTerm"
    (keyup.enter)="filterEvents(searchTerm)">
  </ion-searchbar> -->

  <ion-searchbar 
    [(ngModel)]="searchTerm"
    placeholder="Search Event"
    (ionInput)="onSearchInput($event)" 
    (keyup.enter)="fetchEvents()">
  </ion-searchbar>

  <ion-grid>
    <ion-row>
      <!-- Location -->
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="searchZipCode" placeholder="City or Zip Code" (keydown.enter)="fetchEvents()"></ion-input>
        </ion-item>
      </ion-col>

      <!-- Date -->
      <ion-col> 
        <ion-accordion-group>
        <ion-accordion value="first" toggleIcon="caret-down-circle" toggleIconSlot="start">
          <ion-item slot="header" color="light">
            <ion-label>Pick a Date</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-datetime presentation="date" ></ion-datetime>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- ; else noEvents -->
  <ng-container *ngIf="evento && evento.length > 0">
    <ion-card *ngFor="let event of evento">
      
      <!-- Image Handling: Check if the event is from Ticketmaster or Firebase -->
      <ion-img *ngIf="event.images; else firebaseImage" [src]="event.images[1]?.url"></ion-img>
      <ng-template #firebaseImage>
        <ion-img [src]="event.img || 'assets/default-placeholder.png'"></ion-img>
      </ng-template>
  
      <ion-card-header>
        <ion-card-title class="event-title">
          {{ event.name }}
        </ion-card-title>
        <ion-icon name="add" (click)="addEvent(event.name)"  
                  style="position: absolute; top: 15px; right: 20px; font-size: 30px; color: var(--ion-color-primary);">
        </ion-icon>
      </ion-card-header>
  
      <ion-card-content>
        <!-- Date Handling -->
        <div class="icon-text-row">
          <ion-icon name="calendar" style="font-size: 25px;"></ion-icon>
          <span>
            {{ event.date }}
          </span>
        </div>
  
        <!-- Venue Handling -->
        <div class="icon-text-row">
          <ion-icon name="location" style="font-size: 25px;"></ion-icon>
          <span>
            {{ event.venue || event._embedded?.venues[0]?.name }}
          </span>
        </div>
      </ion-card-content>
      
    </ion-card>
  </ng-container>
  
  <!-- <ng-template #noEvents>
      <ion-card class="no-events-message">
        <img alt="Silhouette of mountains" src="/assets/shapes-01.png" />
        <ion-card-header>
          <ion-card-title>No events</ion-card-title>
          <ion-card-subtitle>There are no events available in your area yet.</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  </ng-template>   -->

  <ion-footer>
    <ion-toolbar style="visibility: hidden;"/>
  </ion-footer>
</ion-content>