<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Events</ion-title>

    <!-- Settings -->
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/settings"> 
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Chat -->
    <ion-buttons slot="end">
      <ion-button routerLink="/chat">
        <!-- /tabs/chat -->
        <!-- chat -->
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Events</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar 
    placeholder="Search Event by Artist" 
    [(ngModel)]="searchTerm"
    (keyup.enter)="filterEvents(searchTerm)">
  </ion-searchbar>

  <ion-card *ngFor="let event of evento">
    <ion-img [src]="event.images[1].url"></ion-img>
    <!-- [0] -->

    <ion-card-header>
      <ion-card-title class="event-title">
        {{ event.name }}
        <!-- Ahora mismo estoy guardando solo el nombre del evento (event.name) -->
      </ion-card-title>
      <ion-icon name="add" (click)="addEvent(event.name)"  
                style="position: absolute; top: 15px; right: 20px; font-size: 30px; color: var(--ion-color-primary);">
      </ion-icon>
    </ion-card-header>

    <ion-card-content>
      <div class="icon-text-row">
        <ion-icon name="calendar" style="font-size: 25px;"></ion-icon>
        <span>{{ event.dates.start.localDate | date:'MMM d, yyyy' }}</span>
      </div>
      <div class="icon-text-row">
        <ion-icon name="location" style="font-size: 25px;"></ion-icon>
        <span>{{ event._embedded.venues[0].name }}, {{ event._embedded.venues[0].city.name }}</span>
      </div>
    </ion-card-content>
    
  </ion-card>

  <ion-footer>
    <ion-toolbar style="visibility: hidden;"/>
  </ion-footer>
</ion-content>