<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>

    <!-- Settings -->
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/settings"> 
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Chat -->
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/chat">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Profile Image" [src]="profileImage" class="profile-image"/>
      <ion-card-header>
        <ion-card-title>{{ userName }}, {{ userAge }}</ion-card-title>
        <ion-card-subtitle>{{ userDistance }} mi</ion-card-subtitle>
      </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label>
        <h2>Events</h2>
      </ion-label>

      <ion-chip style="margin-top: 15px;" *ngFor="let event of events" (click)="goToPossibleMatches(event)">
        <ion-label>{{ event }}</ion-label>
      </ion-chip>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label>
        <h2>Top Artists</h2>
      </ion-label>
  
      <div style="display: flex; margin-top: 15px; gap: 10px;">
        <ion-avatar *ngFor="let artist of favoriteArtists" style="width: 80px; height: 80px;">
          <img [src]="artist.image || 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Artist Avatar"> 
        
          <ion-popover trigger="hover-trigger" triggerAction="hover">
            <ng-template>
              <ion-content class="ion-padding">{{ artist }}</ion-content>
            </ng-template>
          </ion-popover>
        </ion-avatar>
      </div>

      <!-- <div style="display: flex; margin-top: 15px; gap: 10px;">
        <ion-avatar *ngFor="let artistImage of artistImages" style="width: 80px; height: 80px;">
          <img [src]="artistImage" alt="Artist Avatar">
          
          <ion-popover trigger="hover-trigger" triggerAction="hover">
            <ng-template>
              <ion-content class="ion-padding">{{ artistImage }}</ion-content>
            </ng-template>
          </ion-popover>
        </ion-avatar>
      </div> -->
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label>
        <h2>Top Albums</h2>
      </ion-label>
  
      <div style="display: flex; margin-top: 15px; gap: 10px;">
        <ion-avatar *ngFor="let album of favoriteAlbums" style="width: 80px; height: 80px;">
          <!-- <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Album Avatar"> -->
          <img [src]="album.image" alt="Album Avatar">
        </ion-avatar>
      </div>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label>
        <h2>Top Tracks</h2>
      </ion-label>

      <ion-chip style="margin-top: 15px;" *ngFor="let song of favoriteSongs">
        <ion-avatar>
          <img [src]="song.image || 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Track Image" />
        </ion-avatar>
        <ion-label>
          {{ song.name }} 
        </ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-content>
      <ion-label>
        <h2>Top Music Genres</h2>
      </ion-label>
      <ion-chip style="margin-top: 15px;" *ngFor="let genre of favoriteGenres">
        <ion-label>{{ genre }}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card> -->

  <ion-footer>
    <ion-toolbar style="visibility: hidden;"/>
  </ion-footer>
</ion-content>
