<ion-content>
  <swiper-container navigation="false" pagination="true" scrollbar="false">
    <swiper-slide>
      <img src="../assets/descubre.png" alt=""/>
      <h3>Descubre eventos musicales cerca de ti</h3>
    </swiper-slide>

    <swiper-slide>
      <img src="../assets/conecta.png" alt="" />
      <h3>Conecta con otros amantes de la música</h3>
    </swiper-slide>

    <swiper-slide>
      <img src="../assets/comienza.png" alt=""/>
      <h3>Comienza ahora</h3>
      <ion-button href="/auth/sign-up" class="ion-margin-top" expand="block" mode="ios" fill="outline">
        Sign Up
      </ion-button> 
    </swiper-slide>
  </swiper-container>

</ion-content>