<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<swiper-container>
  <swiper-slide>Slide 1</swiper-slide>
  <swiper-slide>Slide 2</swiper-slide>
  <swiper-slide>Slide 3</swiper-slide>
</swiper-container>
</ion-content> -->

<ion-content>
  <swiper-container navigation="false" pagination="false" scrollbar="false">
    <swiper-slide>
      <!-- <img src="../assets/intro/1.svg" alt="" /> -->
      <h3>Build awesome apps with Ionic UI components!</h3>
    </swiper-slide>
    <swiper-slide>
      <!-- <img src="../assets/intro/2.svg" alt="" /> -->
      <h3>Create powerful native apps with Capacitor.</h3>
    </swiper-slide>
    <swiper-slide>
      <!-- Login with Spotify -->
      <ion-button (click)="onAuthClick()" class="ion-margin-top" expand="block" mode="ios" fill="outline">
        Log In with Spotify
        <ion-icon slot="end" name="musical-notes-outline"></ion-icon>
      </ion-button> 
    </swiper-slide>
  </swiper-container>

</ion-content>