<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Account -->
  <ion-card>
    <ion-card-content>
      <h2>Update Name</h2>
    </ion-card-content>
  </ion-card>

  <!-- About -->
  <ion-card>
    <ion-card-content>
      <h2>Version</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>Third Party Licenses</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>Terms of Use</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>Privacy Policy</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>Support</h2>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="signOut()" mode="ios" class="submit" type="submit">
    Sign Out
    <ion-icon slot="end" name="log-out-outline"></ion-icon>
  </ion-button>

</ion-content>
